@import url("http://fonts.googleapis.com/css?family=Oxygen+Mono");
* {
  outline-color: invert;
  outline-style: none;
  outline-width: medium;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
select,
textarea,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-weight: normal;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  font-family: 'Oxigen Mono', sans-serif;
  background: #000;
  color: #fff;
  font-size: 100.1%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
ol,
ul {
  list-style: none;
}
a,
a:visited,
button {
  color: #fff;
  text-decoration: none;
  border: none;
}
html,
body {
  height: 100%;
}
#geral {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.9;
}
header {
  width: 800px;
  height: auto;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin-top: -283.5px;
  margin-left: -400px;
}
.perfil {
  width: auto;
  text-align: center;
}
.pic-name {
  display: table;
  margin: 0 auto;
}
.pic-name img {
  width: 280px;
  height: 280px;
  border: 10px solid rgba(255,255,255,0.6);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: rotateIn 1s ease;
  -moz-animation: rotateIn 1s ease;
  -ms-animation: rotateIn 1s ease;
  -o-animation: rotateIn 1s ease;
  animation: rotateIn 1s ease;
}
.pic-name .title {
  font-size: 50px;
  margin: 10px 0 15px 0;
  -webkit-animation: fadeInUp 1.5s ease;
  -moz-animation: fadeInUp 1.5s ease;
  -ms-animation: fadeInUp 1.5s ease;
  -o-animation: fadeInUp 1.5s ease;
  animation: fadeInUp 1.5s ease;
}
.pic-name .user-name {
  font-size: 15px;
  -webkit-animation: fadeInDown 1.5s ease;
  -moz-animation: fadeInDown 1.5s ease;
  -ms-animation: fadeInDown 1.5s ease;
  -o-animation: fadeInDown 1.5s ease;
  animation: fadeInDown 1.5s ease;
}
.pic-name p {
  font-size: 13px;
  line-height: 18px;
  margin-top: 30px;
  -webkit-animation: fadeInUpTwo 2s ease;
  -moz-animation: fadeInUpTwo 2s ease;
  -ms-animation: fadeInUpTwo 2s ease;
  -o-animation: fadeInUpTwo 2s ease;
  animation: fadeInUpTwo 2s ease;
}
.pic-name a {
  border-bottom: 1px solid #fff;
  padding-bottom: 1px;
}
.pic-name a:hover {
  opacity: 0.7;
}
.social {
  width: auto;
  height: 32px;
  margin: 20px auto;
  display: table;
}
.social li {
  width: 32px;
  height: 32px;
  display: inline;
  float: left;
}
.social li:hover {
  opacity: 0.4;
}
.social li:last-child {
  margin-right: 0;
}
.social .github {
  -webkit-animation: fadein 2.5s ease;
  -moz-animation: fadein 2.5s ease;
  -ms-animation: fadein 2.5s ease;
  -o-animation: fadein 2.5s ease;
  animation: fadein 2.5s ease;
  background: url("../images/social-icon-github.png") no-repeat center;
}
.social .twitter {
  -webkit-animation: fadein 3s ease;
  -moz-animation: fadein 3s ease;
  -ms-animation: fadein 3s ease;
  -o-animation: fadein 3s ease;
  animation: fadein 3s ease;
  background: url("../images/social-icon-twitter.png") no-repeat center;
}
.social .facebook {
  -webkit-animation: fadein 3.5s ease;
  -moz-animation: fadein 3.5s ease;
  -ms-animation: fadein 3.5s ease;
  -o-animation: fadein 3.5s ease;
  animation: fadein 3.5s ease;
  background: url("../images/social-icon-facebook.png") no-repeat center;
}
.social a {
  width: 32px;
  height: 32px;
  background: #111;
  float: left;
}
@media screen and (max-width: 799px) {
  header {
    width: 90%;
    margin-left: -45%;
    margin-top: 0px;
    top: 5%;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    height: none;
  }
  body {
    background-image: none;
    background-color: #b22222;
  }
  #geral {
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    display: table;
    background: none !important;
  }
  .perfil .pic-name img {
    margin: 0 0 0 -10px;
  }
}
