@charset "utf-8";

* {
	outline-color: invert;
	outline-style: none;
	outline-width: medium;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: inherit;
	font-size: inherit;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	font-family: Georgia, sans-serif;
	line-height: 1;
	color: black;
	background: #fff;
	font-size: 100.01%;
	margin: 0;
}

body, input, select, textarea {
	font-size: inherit;
	margin: 0;
	border: none;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

a, a:visited, button {
	color: #fff;
	text-decoration: none;
	border: none;
}

html, body {
	height: 100%;
	/*overflow-y: hidden;*/
}
/***** loading page *****/
.loading {
	width: 100%;
	height: 100%;	
	background: #fff no-repeat center;
	position: absolute;
	z-index: 999;
	-webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.loading img {
	width: 40px;
	height: 40px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
}

@-webkit-keyframes fadeOut {
  80% {
  	opacity: 1;
	}

	100% {
	  opacity: 0;
	  z-index: 0;
	  display: none;
	}
}

@keyframes fadeOut {
  80% {
  	opacity: 1;
	}
	100% {
    opacity: 0;
    z-index: 0;
    display: none;
	}
}

/***** layer principal *****/
.layer-principal {
	width: 100%;
	height: 100%;	
	background: url(../images/praia-de-intermares.jpg) no-repeat fixed;
	background-size: cover;
}

/* header */
.header-principal {
	width: 750px;
	height: 287px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -375px;
	float: left;
}

.header-principal .left {
	width: 250px;
	height: 100%;
	float: left;
}

.header-principal .left img {
	width: 250px;
	height: 250px;
	float: left;
	border-radius: 50%;
	margin-bottom: 5px;
}

.header-principal .left ul {
	width: auto;
	height: 32px;
	display: table;
	margin: 0 auto;
}

.header-principal .left ul li {
	display: inline;
	width: 32px;
	height: 32px;
	float: left;
	margin: 0 5px;
	border-radius: 50%;
}

.header-principal .left ul .facebook {background: url(../images/social-icon-facebook.png) no-repeat;}
.header-principal .left ul .twitter {background: url(../images/social-icon-twitter.png) no-repeat;}
.header-principal .left ul .github {background: url(../images/social-icon-github.png) no-repeat;}

.header-principal .left ul a {
	width: 32px;
	height: 32px;
	float: left;
}
		
.header-principal p {
	width: 470px;
	font-size: 25px;
	line-height: 30px;
	color: #fff;
	text-shadow: 0 0 3px #111;
	text-align: left;
	margin-top: 40px;
	margin-left: 20px;
	float: left;	
}

/* roll-button */
.roll {
	width: 78px;
	height: 78px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -39px;
	background: url(../images/button-icon-roll.png) no-repeat center;
	cursor: pointer;
  -webkit-animation: roll-page .5s ease alternate infinite; /* Safari 4+ */
     -moz-animation: roll-page .5s ease alternate infinite; /* Fx 5+ */
     -o-animation:   roll-page .5s ease alternate infinite; /* Opera 12+ */
          animation: roll-page .5s ease alternate infinite; 
}

@keyframes roll-page {
	from {bottom: 30px;}
	to {bottom: 10px;}
}

@-webkit-keyframes roll-page {
	from {bottom: 30px;}
	to {bottom: 10px;}
}

@-moz-keyframes roll-page  {
	from {bottom: 30px;}
	to {bottom: 10px;}
}

.open-menu {
	width: 36px;
	height: 25px;
	position: fixed;
	z-index: 9999;
	top: 30px;
	right: 30px;
	background: url(../images/button-menu-icon.png) no-repeat center;
	cursor: pointer;
}

.menu {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.95); /* aqui será um gradient color */
	position: absolute;
	z-index: 999;
}

.menu ul {
	width: 150px;
	height: 260px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-top: -160px;
	margin-left: -75px;
}

.menu ul li {
	width: 200px;
	display: block;
	margin: 40px 0;
	text-align: center;
}

.menu ul li a {
	font-size: 35px;
	color: #fff;
	padding: 10px 0;
}




/***** blog *****/
.blog {
	width: 100%;
	height: auto;
	min-height: 1200px;
	background: #fff;
	position: relative;
	z-index: 3;
	display: block;
	float: left;
}

.blog .header-blog {
	width: 100%;
	height: 80px;
	background: rgba(255,255,255,.5);
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	display: none;
}

.postagens {
	width: 800px;
	margin: 0 auto;
}

.postagens .post {
	width: 100%;
	height: auto;
	max-height: 300px;
	background: #;
	margin-bottom: 20px;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 60px; 
}

.postagens .post:first-child {
	margin-top: 20px;
}

.postagens .post:last-child {
	margin-top: 0px;
	border-bottom: none;
}

.post-header {
	margin-bottom: 20px;
}

.post-header .post-data {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #ccc;
	text-align: right;
	text-transform: uppercase;
	margin-bottom: 20px;
	display: table;
}

.post-header .post-titulo {
	font-family: sans-serif;
	font-size: 40px;
	color: #333;
	font-weight: bold;
	letter-spacing: -1px;
}

.post-trecho {}

.post-trecho p {
	font-size: 20px;
	line-height: 22px;
	color: #666;
	text-align: justify;
}


footer {
	width: 100%;
	height: 120px;
	text-align: center;
	background: #f1f1f8;
	display: table;
}

footer small {
	font-size: 12px;
	color: #999;
	display: table;
	margin: 50px auto 0 auto;
}

footer small a {

	color: #111 !important;
}