---
layout: default
---

{% if site.posts.size > 0 %}
  {% for post in site.posts %}
    <div class="item-post">
      <a href="{{post.url | prepend: site.baseurl}}">
        <h2 class="post-title">{{post.title}}</h2>
        <div class="post-date">
          <time>{{post.date | date_to_string}}</time>
        </div>

        <!-- <small class="post-preview">{{post.content}}</small> -->
        <small class="post-preview">Texto descritivo do post aqui</small>
      </a>
    </div><!-- /item-post -->
  {% endfor %}

{% else %}
  <p>Nada encontrado! :(</p>
{% endif %}
