// index
html, body
	height 100%
	
// geral
#geral
	width 100%
	height 100%
	position absolute
	z-index 1
	opacity .9

header
	width 800px
	height auto
	position absolute
	z-index 3
	top 50%
	left 50%
	margin-top -283.5px
	margin-left -(@width / 2)


// perfil
.perfil
	width auto
	text-align center
	
.pic-name
	display table
	margin 0 auto

	img
		width 280px
		height 280px
		border 10px solid rgba(255,255,255,.6)
		border-radius(50%)
		animation(rotateIn 1s ease)
		
	.title
		font-size 50px
		margin 0px 0 5px 0
		animation(fadeInUp 1.5s ease)
	
	.user-name
		font-size 15px
		animation(fadeInDown 1.5s ease)
			
.perfil p
	font-size 13px
	line-height 18px
	margin-top 30px
	animation(fadeInUpTwo 2s ease)
	
	a
		border-bottom 1px solid corTextos
		padding-bottom 1px
		
		&hover
			opacity .7


// social
.social
	width auto
	height 32px
	margin 20px auto
	display table
	
	li
		width @height
		height @height
		display inline
		float left
		margin 5px
		
		&hover
			opacity .4
			
		&last-child
			margin-right 0
				
	// tem que ver eses bgs
	.github
		animation(fadeIn 2.5s ease)
		background url(../images/social-icon-github.png) no-repeat center
	
	.twitter
		animation(fadeIn 3s ease)
		background url(../images/social-icon-twitter.png) no-repeat center

	.facebook
		animation(fadeIn 3.5s ease)
		background url(../images/social-icon-facebook.png) no-repeat center

	a 
		width @height
		height @height
		float left