// Media Queries

@media screen and (max-width 700px)
  main
    width 100%



@media screen and (max-width 500px)
  .author
    width auto

  .img-author
    display block
    float none
    margin 0 auto

  .author-name
    text-align center

  .author-info
    text-align center
    width 100%

  .highlight
    overflow-x scroll

  code
    max-width 100%
    font-size 14px
    overflow-x scroll
    padding 0
