// mixins
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-ms-border-radius arguments
	-o-border-radius arguments
	border-radius arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	-ms-box-sizing arguments
	-o-box-sizing arguments
	box-sizing arguments

background-size()
	-webkit-background-size arguments
	-moz-background-size arguments
	-ms-background-size arguments
	-o-background-size arguments
	background-size arguments

animation()
	-webkit-animation arguments
	-moz-animation arguments
	-ms-animation arguments
	-o-animation arguments
	animation arguments
	
transform()
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	-o-transform arguments
	transform arguments