// mixins
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-ms-border-radius arguments
	-o-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-ms-box-shadow arguments
	-o-box-shadow arguments
	box-shadow arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	-ms-box-sizing arguments
	-o-box-sizing arguments
	box-sizing arguments

background-size()
	-webkit-background-size arguments
	-moz-background-size arguments
	-ms-background-size arguments
	-o-background-size arguments
	background-size arguments

animation()
	-webkit-animation arguments
	-moz-animation arguments
	-ms-animation arguments
	-o-animation arguments
	animation arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments

transform()
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	-o-transform arguments
	transform arguments

user-select()
	-webkit-user-select arguments
	-khtml-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments
	user-select arguments

appearance()
	-webkit-appearance arguments
	-moz-appearance arguments
	-ms-appearance arguments
	-o-appearance arguments
	appearance arguments
