<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Marcelo Brito - Web Developer</title>
    <link rel="stylesheet" href="/assets/css/style.min.css" media="screen">
    <script src="/assets/js/functions.min.js"></script>
  </head>
  <body>
    <header class="header">
      <a class="author" href="/">
        <img class="img-author" src="/assets/img/author.jpg" alt="" />
        <h1 class="author-name">Marcelo Brito</h1>
        <span class="author-info">Web Developer</span>
      </a>

      <nav class="nav">
        <ul>
          <li><a href="./about/">About</a></li>
          <li><a href="./feed.xml" target="_blank">Feed</a></li>
          <!-- <li><a href="#">Contact</a></li> -->
        </ul>
      </nav>
    </header><!-- header -->


    <main>
      <div class="content">
        {{ content }}
      </div><!-- /content -->
    </main>


    <footer>
      <ul class="social">
        <li><a href="https://github.com/MarceloBritoWD" target="_blank">Github</a></li>
        <li><a href="https://twitter.com/marcelobritowd" target="_blank">Twitter</a></li>
        <li><a href="https://www.facebook.com/MarceloBritoWD" target="_blank">Facebook</a></li>
      </ul>
    </footer>

  </body>
</html>
